################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/DataGenerationTool/.vs/DataGenerationTool
/DataGenerationTool/bin/Debug
/DataGenerationTool/obj
/DataGenerationTool/bin/Release
